.Related {
    width: 300px;
  }

  .Related h1 {
    color: white;
    padding: 10px;
  }

  .Related span {
    color: white;
    padding-right: 10px;
    font-size: 15px;
    font-family: Arial;
  }

  .Related-content{
    padding: 10px;
  }